
#Telemetry
go/telemetry/*
gopls/*

#VSCode
Code/*

#NVIM
nvim/plugin/packer_compiled.lua

# Unknowns
dconf
GNOME-xdg-terminals.list
xdg-terminals.list
goa-1.0
dlv/*
evolution/*
enchant/*
dconf/user

